.App {
	text-align: center;
	display: flex;
	background: beige;
	height: 100vh;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}

img {
	width: 30%;
}

.Dog,
.About,
.Contact {
	width: 1000px;
	height: 800px;
	background: white;
	border: 1px solid black;
	box-shadow: 20px 20px 0 black;
}

h1 {
	font-size: 4rem;
}
