.App {
	text-align: center;
	display: flex;
	background: beige;
	height: 100vh;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.App-nav {
	display: flex;
	width: 50%;
	margin: 1rem auto;
	justify-content: space-around;
}

.active-link {
	color: red;
	border-bottom: 3px solid yellowgreen;
}

a {
	font-size: 2rem;
	text-decoration: none;
	color: black;
	transition: all 0.4s ease-out;
}

.App-nav a:hover {
	/* border-bottom: 1px solid rgba(248, 187, 208, 1); */
	color: blue;
	cursor: pointer;
}

img {
	width: 80%;
}

.Dog,
.About,
.Contact {
	width: 1000px;
	height: 800px;
	background: white;
	border: 1px solid black;
	box-shadow: 20px 20px 0 black;
}

h1 {
	font-size: 4rem;
}
